node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
package-lock.json
pnpm-lock.yaml
.vscode/
deleted/
quarantine/
release/
config/rules.json
.env.deleteme
config/development.json*
config/production.json*
.eslintrc.json
eslint.config.mjs
